{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact7-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Cont@cto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p align="justify">Asesor en: Tesis y Proyectos Finales de Grado,
           Formulación de Proyectos, Escritura cientifica.</p>
        <p>Evaluador, Consultor, e-Learning, Desarrollo de Software. </p>
        <br>
        <p><b>Teléfono:</b> 31180881018</p>
        <p>Correo alternativo:</b> <a href="mailto:roehful@misena.com">roehful@misena.com</a></p>
    </div>
</div>
{% endblock %}